@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Open+Sans:wght@300&family=Playfair+Display&family=Rubik&family=Rubik+Doodle+Shadow&display=swap');

.navbar{
    background-color: transparent;
    margin-bottom: 10px;
    height: 7vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 0 0 20px;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    user-select: none;
    font-family: 'Arial';
    position: absolute;
    z-index: 999;
}